
:root {
    --black: #000; 
}

body{
    font-family:'Times New Roman', Times, serif; 
}

h1 {
margin:auto;
}

nav ul li {
color:blue;
font-family:Arial, Helvetica, sans-serif; 
}

#about-me img {
border: 1px var(--black) solid; 

}

#work {

}

.FirstWork img{
width: 1000px; 
height: 400px;

}

.OtherWork img{
width: 200px; 
height: 200px; 
}

.OtherWork {
display: flex; 
}

.otherworkitems {
flex: 33.33%; 
padding: 2px; 
}

#contact-me {

}

#resume {

}

