
:root {
    --black: #000; 
}

body{
    font-family:'Times New Roman', Times, serif; 
}

.container {
    width: 70%; 
    margin: 0 auto; 
    display: flex;  
    justify-content: center; 
    flex-direction: column; 
   
}

a:hover {
    cursor: pointer; 
    cursor: hand; 
}

h1 {
margin:auto;
}

nav ul li {
color:blue;
font-family:Arial, Helvetica, sans-serif; 
display: inline-flex;
justify-content: space-between; 
padding: 10px; 
}

#about-me img {
border: 1px var(--black) solid; 

}

#work {

}

.FirstWork img{
width: 1000px; 
height: 400px;

}

.RestofWork img{
width: 200px; 
height: 200px; 
}

.RestofWork {
display: flex; 

}

.otherworkitems {
flex: 33.33%; 
padding: 2px; 
}

#contact-me ul li {
display: inline; 
}

#resume button{
background-color: ; 
color: ; 
border-radius: 15px ; 
height: 15px ;
width: 500px ;
padding: 20px 20px ;
margin-left: 20%; 
text-transform: uppercase; 
font-weight: 800px ; 
text-align: center; 
}

@media screen and (max-width: 768px) {
    main,
    section,
    img, {
      flex-direction: column;
    }
  }
  




