
:root {
--black: #000; 
--royalblue: #4169E1; 
--crimson: #DC143C; 
--yellow: #FAFAD2; 
--warm: #FFEBCD; 
}

html {
scroll-behavior: smooth; 
}

body{
font-family:'Times New Roman', Times, serif; 
background-color: var(--warm); 
}

.container {
width: 90%;  
margin: 0 auto; 
display: flex;  
justify-content: center; 
flex-direction: column; 
}

a:hover {
cursor: pointer; 
}

a {
color: var(--crimson); 
font-family:Arial, Helvetica, sans-serif; 
font-weight: bold; 
}

hr {
margin-top: 5px;  
}

h1 {
margin:auto;
margin-bottom: 20px;
margin-top: 5px;  
font-size: 300%; 
border: var(--royalblue) solid; 
border-radius: 10px;
width: 300px;  
color:#FAFAD2; 
}

h2 {
font-size: 200%;
margin: auto; 
margin-top: 20px;
margin-bottom: 10px;  
}

header {
background-color: var(--black) ;
}

nav ul li {
margin: auto;
display: inline-flex;
justify-content:space-between center; 
padding: 10px; 
border: var(--royalblue) solid; 
border-radius: 10px; 
background-color: var(--royalblue); 
}

#about-me img {
border: 3px var(--black) solid; 
}

p {
margin: auto; 
margin-bottom: 5px; 
}

.FirstWork img{
width: 600px; 
margin-top: 5px;
flex: 1 1 100%; 
transition: transform .2s;  
}

/*wanted the images under Work to slightly enlarge when you hover your cursor over them */
.FirstWork img:hover {
transform: scale(1.1);
}

.RestofWork img{
width: 200px; 
height: 200px; 
margin-top: 10px;
float: left;
}

.RestofWork {
display: flex;
flex: 1 1 30%; 
} 

.otherworkitems img {
transition: transform .2s; 
flex: 33.33%; 
padding: 2px; 
}

.otherworkitems:hover {
transform: scale(1.1);  
}

#contact-me ul li {
font-family:Arial, Helvetica, sans-serif; 
display: inline-flex;
justify-content: space-between; 
padding: 10px;
}

#resume button{
background-color: var(--yellow); 
color:black ; 
border-radius: 15px ; 
height: 10px ;
width: 200px ;
padding: 20px 20px ;
margin-left: 20%; 
text-transform: uppercase; 
font-weight: 800px ; 
text-align: center;

}

footer a {
font-weight:lighter; 
}

@media screen and (max-width: 768px) {
    .FirstWork img {
        display:flex; 
        width: 90%; 
        margin: auto; 
    }

    /* made it so that the images would form a column on mobile devices*/
    .RestofWork {
        display: flex;
        flex-direction:column; 
        flex: 1 1 100%; 
    }

    .otherworkitems img {
        display: flex; 
        flex-direction: column; 
    }